@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "tailwindcss";

/* @font-face {
  font-family: Italiana;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../style/fonts/Italiana-Regular.ttf") format("ttf");
} */

@theme{
  --font-italiana: "Italiana", sans-serif;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}



